* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.heading {
    color: darkblue;
    font-size: 1.5rem;
    transition: all 1s ease-in 1s;
}

.heading:hover {
    color: green;
    font-size: 1rem ;
}